doctype html
html
	head
		meta(charset="utf-8")
		link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
		script(type="text/javascript" src="javascripts/jquery.js")
		script(type='text/javascript' src='javascripts/validator.js')
		script(type="text/javascript" src="javascripts/sign.js")
		title SignUp
	body
		div.container
			h1 用户注册
			div.info
				form(method='post' id='form')
					div.input-div(id='name-div')
						span.span.init-position 用户名
						input.input(name='username' value=user.username)
						span.warning #{error.username}
					div.input-div(id='password-div')
						span.span.init-position 密码
						input.input(name='password' type='password' value=user.password)
						span.warning #{error.password}
					div.input-div(id='repeatPassword-div')
						span.span.init-position 重复密码
						input.input(name='repeatPassword' type='password' value=user.repeatPassword)
						span.warning #{error.repeatPassword}
					div.input-div(id='id-div')
						span.span.init-position 学号
						input.input(name='sid' value=user.sid)
						span.warning #{error.sid}
					div.input-div(id='phone-div')
						span.span.init-position 电话
						input.input(name='phone' value=user.phone)
						span.warning #{error.phone}
					div.input-div(id='email-div')
						span.span.init-position 邮箱
						input.input(name='email' value=user.email)
						span.warning #{error.email}
					input.button(type='reset' value='重置' id='reset')
					button.button(value='提交' id='post') 提交
			
